*{
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
}

.navbar-brand{
	    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
	    color: #fec503 !important;
	}

.navbar-brand:hover{
	color: #fcae05!important;
}
.first-section{
	background-image: url(../img/header-bg.jpg);
	height: 100vh;
	background-size: cover;
}

#menu-bar{
	background: none;
	border-bottom: none;
}

#visible-bar a{
	color: white;

}

#visible-bar a:hover{
color: #fec503;	
font-weight: bold;
}

.first-box{
	color: white;
	padding-top: 200px;
	font-weight: bolder;
}
.jumbotron{
	background-color: transparent;
}

#more1{
	color: white;
	font-weight: bolder;
	background-color: #ffde00;
	border: none;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 15px 25px;
    border-radius: 3px;
}

.second-section{
	padding-top: 20px;
	padding-bottom: 20px;

}

.second-section i{
	width: 100px;
	height: 100px;
	border-radius: 200px;
	background-color: #ffde00;
	color: white;
	padding-top: 10px;
}